<div class="grid">
  <div class="col-12 bg-blue-100 p-0 header-menu">
    <p-menubar [model]="sistema.itensMenu" styleClass="m-0">
      <ng-template pTemplate="start">
          <img src="assets/images/csm_logo.png" height="40" class="mr-2 pointer" [routerLink]="['/home']">
      </ng-template>
      <ng-template pTemplate="end">
        <div class="user">
          <span>{{user?.username}}</span>
        </div>
      </ng-template>
    </p-menubar>
  </div>
  <div class="col-12 p-0 bg-bluegray-100 body-template">
    <router-outlet></router-outlet>
  </div>
</div>

