<div class="grid container-login ">
  <div class="grid flex col-12 bg-blue-200 align-content-center justify-content-center align-items-center">
    <div class="box grid flex bg-bluegray-900 align-content-center justify-content-center align-items-center">
      <form [formGroup]="form">
        <div class="col-12 flex justify-content-center">
          <img src="assets/images/cms_logo_white.png" alt="Logo do sistema" height="50">
          <!-- <h1>Login</h1> -->
        </div>
        <div class="col-12 flex justify-content-center mt-5">
          <div class="field">
            <label for="usuario" class="block">Usuário</label>
            <input id="usuario" type="usuario" aria-describedby="usuario-help" pInputText required formControlName="username"/>
            <small id="usuario-help" class="p-error block" *ngIf="showMessageRequired('username')">Usuário é obrigatório.</small>
          </div>
        </div>
        <div class="col-12 flex justify-content-center">
          <div class="field">
            <label for="usuario" class="block">Senha</label>
            <p-password [feedback]="false" styleClass="" required formControlName="password"></p-password>
            <small id="usuario-help" class="p-error block" *ngIf="showMessageRequired('password')">Senha é obrigatória.</small>
          </div>
        </div>
        <div class="col-12 flex justify-content-center mt-5">
          <button pButton pRipple type="button" label="Entrar" (click)="login()"></button>
        </div>
      </form>
    </div>
  </div>
</div>
