.content-card {
  box-sizing: border-box;
}


.body-list {
  overflow-y: auto;
  box-sizing: border-box;
  max-height: calc(100vh - calc(var(--height-header-menu) + var(--height-footer) + 220px));
}

@media (max-width: 575.98px) {
  .body-list {
    max-height: calc(100vh - calc(var(--height-header-menu) + var(--height-footer) + 250px)) !important;
  }
}


.content-list {
  height: calc(100vh - calc(var(--height-header-menu) + var(--height-footer)));
  width: 100%;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
}

.title-common {
  font-size: 1.6em;
  text-transform: uppercase;
  padding-right: 5px;
  font-weight: 300;
  border-right: solid 1px #666;
}

.subtitle-common {
  padding-left: 5px;
}
