<div class="content-list">
  <div class="grid flex">
    <div class="col-12 md:col-7 lg:col-8">
      <span [innerHtml]="config.title" *ngIf="config" class="title-common"></span>
      <span [innerHtml]="config.subtitle" *ngIf="config" class="subtitle-common"></span>
    </div>
    <div class="col-12 md:col-5 lg:col-4">
      <btn-actions [buttons]="btnActions" justify="end"></btn-actions>
    </div>
  </div>
  <p-card>
    <div class="grid flex content-card">
      <div class="col-12 body-list body-list-sm">
        <ng-content select="[body]"></ng-content>
      </div>
      <div class="col-12">
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
  </p-card>
  <p-confirmDialog [style]="{minWidth: '30vw', maxWidth: '70vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
</div>

