<div class="content-list">
  <div class="grid flex">
    <div class="col-12 md:col-7 lg:col-8">
      <span [innerHtml]="config.title" *ngIf="config" class="title-common"></span>
      <span [innerHtml]="config.subtitle" *ngIf="config" class="subtitle-common"></span>
    </div>
    <div class="col-12 md:col-5 lg:col-4">
      <div class="flex justify-content-end" *ngIf="btnActions && btnActions?.length > 0">
        <button pButton pRipple type="button"
          *ngFor="let btn of btnActions"
          label="{{btn.label}}"
          icon="{{btn.icon}}"
          class="{{btn.classStyle}} ml-2"
          [pTooltip]="btn.tooltip"
          tooltipPosition="left"
          (click)="btn.action()"
          [disabled]="btn.disabled"></button>
      </div>
    </div>
  </div>
  <p-card>
    <div class="grid flex content-card">
      <div class="col-12 body-list body-list-sm">
        <ng-content select="[body]"></ng-content>
      </div>
      <div class="col-12">
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
  </p-card>
  <p-confirmDialog [style]="{minWidth: '30vw', maxWidth: '70vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
</div>

